<a href="https://colab.research.google.com/github/Alberto0150/Tugas_Komputasi_Bergerak_KNN/blob/main/Tugas_Komber_Update.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Library dan mount drive

In [59]:
# import library
import pandas as pd
import seaborn as sns
import os
import numpy as np

In [60]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [61]:
os.chdir(r'/content/drive/MyDrive/Colab Notebooks')

In [62]:
pwd

'/content/drive/MyDrive/Colab Notebooks'

# Load Dataset

In [63]:
# melakukan load dari csv ke dalam bentuk pandas dataframe
df=pd.read_csv('Data_Accelerometer_04_11_2021-073808.csv')

In [64]:
df

        X_awal    Y_awal     Z_awal  ...   Delta_Z  Total_Delta  Target
0    -1.007965  5.667069   7.357376  ...  0.251404     1.041504       1
1    -0.086197  5.535400   7.608780  ...  0.816421     1.074996       1
2     0.411804  5.295975   8.425201  ...  1.271317     0.533890       1
3    -0.184357  5.154709   9.696518  ...  0.450104    -0.541092       0
4    -1.309631  5.288788  10.146622  ... -0.993592    -0.440522       0
...        ...       ...        ...  ...       ...          ...     ...
1512 -2.090134 -7.843399   5.832275  ... -0.246597    -0.062256       0
1513 -2.104507 -7.644684   5.585678  ...  0.306458     0.569824       1
1514 -1.884232 -7.601593   5.892136  ...  0.457291     0.579392       1
1515 -1.738190 -7.625534   6.349426  ... -0.016769     0.397430       1
1516 -1.491592 -7.457931   6.332657  ... -0.174774    -0.189148       0

[1517 rows x 11 columns]

# Data Description dan analisa

In [65]:
# melihat tipe dari tiap kolom di dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1517 entries, 0 to 1516
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   X_awal       1517 non-null   float64
 1   Y_awal       1517 non-null   float64
 2   Z_awal       1517 non-null   float64
 3   X_akhir      1517 non-null   float64
 4   Y_akhir      1517 non-null   float64
 5   Z_akhir      1517 non-null   float64
 6   Delta_X      1517 non-null   float64
 7   Delta_Y      1517 non-null   float64
 8   Delta_Z      1517 non-null   float64
 9   Total_Delta  1517 non-null   float64
 10  Target       1517 non-null   int64
dtypes: float64(10), int64(1)
memory usage: 130.5 KB

In [66]:
# melihat persebaran data dari setiap kolom, seperti variance dan std
df.describe()

            X_awal       Y_awal  ...  Total_Delta       Target
count  1517.000000  1517.000000  ...  1517.000000  1517.000000
mean     -0.420510    -6.313030  ...    -0.009771     0.504285
std       3.362310     2.947922  ...     1.990989     0.500147
min      -4.642364   -14.858414  ...   -39.276871     0.000000
25%      -1.867477    -7.237671  ...    -0.210708     0.000000
50%      -1.740585    -7.089233  ...     0.002411     1.000000
75%      -1.553833    -6.952759  ...     0.205887     1.000000
max      28.036102     6.768402  ...    20.851091     1.000000

[8 rows x 11 columns]

In [67]:
# melihat jumlah missing value
df.isna().sum()

X_awal         0
Y_awal         0
Z_awal         0
X_akhir        0
Y_akhir        0
Z_akhir        0
Delta_X        0
Delta_Y        0
Delta_Z        0
Total_Delta    0
Target         0
dtype: int64

In [68]:
# melihat data yang memiliki missing value
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [X_awal, Y_awal, Z_awal, X_akhir, Y_akhir, Z_akhir, Delta_X, Delta_Y, Delta_Z, Total_Delta, Target]
Index: []

In [69]:
# melihat jumlah setiap kelas di kolom target
df.count()

X_awal         1517
Y_awal         1517
Z_awal         1517
X_akhir        1517
Y_akhir        1517
Z_akhir        1517
Delta_X        1517
Delta_Y        1517
Delta_Z        1517
Total_Delta    1517
Target         1517
dtype: int64

# PraProses

`Ini kalian bisa melakukan pra proses menyesuaikan kondisi data.
Beberapa masalah yang harus diatasi:
Missing Value
Extreme Value (outlier)
Encoding atribut kateogrikal
Normalisasi
Feature engineering
dll.
Intinya menyesuaikan problem!`

## Handling Missing Value

In [70]:
df.mean()

X_awal        -0.420510
Y_awal        -6.313030
Z_awal         6.214402
X_akhir       -0.420846
Y_akhir       -6.321674
Z_akhir        6.213611
Delta_X       -0.000336
Delta_Y       -0.008644
Delta_Z       -0.000791
Total_Delta   -0.009771
Target         0.504285
dtype: float64

In [71]:
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html
df.fillna(df.mean(),inplace=True)

In [72]:
df.isna().sum()

X_awal         0
Y_awal         0
Z_awal         0
X_akhir        0
Y_akhir        0
Z_akhir        0
Delta_X        0
Delta_Y        0
Delta_Z        0
Total_Delta    0
Target         0
dtype: int64

# Train Test Split

In [73]:
# X adalah kolom attribut tanpa kolom target
X=df[['X_awal','Y_awal','Z_awal','X_akhir','Y_akhir','Z_akhir']]
X.head(2)

     X_awal    Y_awal    Z_awal   X_akhir   Y_akhir   Z_akhir
0 -1.007965  5.667069  7.357376 -0.086197  5.535400  7.608780
1 -0.086197  5.535400  7.608780  0.411804  5.295975  8.425201

In [74]:
# y adalah kolom yang hanya target
y=df.pop('Target')
y.head(2)

0    1
1    1
Name: Target, dtype: int64

In [75]:
# untuk memisahkan data train dan test -> https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html
from sklearn.model_selection import train_test_split

# param stratify : data displit secara stratified -> https://scikit-learn.org/stable/modules/cross_validation.html#stratification
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=77)

# Normalisasi

In [76]:
# untuk mengatasi perbedaan nilai antar kolom -> https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
#from sklearn.preprocessing import StandardScaler

#scaler = StandardScaler()
#X_train_scaled = scaler.fit_transform(X_train) #tanpa target
#X_test_scaled = scaler.transform(X_test)

# Evaluation

In [77]:
# function untuk melakukan perhitungan seluruh metric evaluasi -> https://scikit-learn.org/stable/modules/model_evaluation.html#classification-metrics
from sklearn.metrics import make_scorer, accuracy_score, precision_score, recall_score, f1_score
def get_metrics(true_labels, predicted_labels):
    acc=np.round(accuracy_score(true_labels, predicted_labels),4)
    prec=np.round(precision_score(true_labels, predicted_labels,average='weighted'),4)
    recall=np.round(recall_score(true_labels, predicted_labels,average='weighted'),4)
    f1=np.round(f1_score(true_labels, predicted_labels,average='weighted'),4)
    return [acc,prec,recall,f1]

# Model

In [78]:
kolom=['Model','Acc','Precision','Recall','F1']
HASIL_AKHIR=pd.DataFrame(columns=kolom)

## K-NN

In [79]:
# fit model KNN -> https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier() # default nilai k = 5
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [80]:
# predict model ke data test
y_pred_knn=knn.predict(X_test)

In [81]:
# evaluation score untuk model KNN
get_metrics(y_test,y_pred_knn)

[0.8289, 0.8299, 0.8289, 0.8291]

In [82]:
hasil=['knn']+get_metrics(y_test,y_pred_knn)

In [83]:
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

## Hasil Akhir

In [84]:
# dataframe perbandingan model
from IPython.display import display 
display(HASIL_AKHIR)

  Model     Acc  Precision  Recall      F1
0   knn  0.8289     0.8299  0.8289  0.8291

# Dengan Hasil selain dari Dataset sama

In [85]:
# melakukan load dari csv baru ke dalam bentuk pandas dataframe
df=pd.read_csv('Data_Tester_2.csv')

In [86]:
# param stratify : data displit secara stratified -> https://scikit-learn.org/stable/modules/cross_validation.html#stratification
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)

In [87]:
# predict model ke data test
y_pred_knn=knn.predict(X_test)

In [88]:
# evaluation score untuk model KNN
get_metrics(y_test,y_pred_knn)

[0.9079, 0.9089, 0.9079, 0.9078]

In [89]:
hasil=['knn']+get_metrics(y_test,y_pred_knn)

In [90]:
# concat ke dataframe perbandingan score
HASIL_AKHIR=pd.concat([HASIL_AKHIR,pd.DataFrame([hasil],columns=kolom)])

In [91]:
display(HASIL_AKHIR)

  Model     Acc  Precision  Recall      F1
0   knn  0.8289     0.8299  0.8289  0.8291
0   knn  0.9079     0.9089  0.9079  0.9078